//- partials/article
h2
  a(href='/'+entry.path)!= entry.title
section
  if readingTime
    span= entry.readingTime + '-minute read' 
  time= moment(entry.publish).format("MMMM Do YYYY")
  if entry.feed_type=='instagram'
    span Instagram


section
  if entry.blurb
    p!= entry.blurb