@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600,700');

*, *:before, *:after {
  box-sizing: inherit;
  
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  font-size: 20px;
  font-family: 'Signika', sans-serif;
  font-weight: 300;
  line-height: 1.5;

  background: #f5f6f5;
  border: 4px solid orangered;
}

body {
  border: 4px solid darkorange;
  padding: calc(2rem + 6vw) 1rem;
  padding-bottom: 2rem;
}

img {
  max-width: 100%;
}

a:not(:visited) {
  color: mediumblue;
}

a:hover {
  background-color: #f6d9da;
  transition: background .3s;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

p {
  margin: 0.5em 0;
}

ul, ol {
  margin-left: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: calc(1em + 1.5vw);
}

h2 a {
  color: currentColor !important;
  text-decoration: none;
}

h2 a:after {
  content: "\0020\2192";
  vertical-align: middle;
  opacity: 0.5;
  margin-right: 0.2em;
  transition: all 0.3s;
  line-height: 0.9;
}

h2 a:hover:after {
  opacity: 1;
  margin: 0;
  margin-left: 0.2em;  
  transition: all 0.3s;
}

article > header,
article > section {
  margin-bottom: calc(1em + 0.75vw);
}

section > ul {
  list-style: none;
  margin: 0;
}

section > ul li {
  margin: calc(1rem + 1vw) auto;
}
article > section:not(:nth-child(2)) span + span:before,
section > ul li > section:not(:nth-child(2)) span + span:before {
  content: ", \0020";
  text-decoration: none;
}

section > ul li > section:last-child {
  font-size: 0.9em;
}

section > ul li h2,
main > header h1,
article > header h1 {
  margin: 0;
}

article > section h1 {
  font-size: 1.3em;
}

article > section h2 {
  font-size: 1.1em;
}

article > section h3 {
  font-size: 1em;
}

section > ul li h2 + section > *,
main > header section > *,
article > header section > * {
  color: gray !important;
  font-size: 0.8em;
  line-height: 1;
}

section > ul li h2 + section > * + *:before,
article > header section * + *:before {
  content: "\0020/\0020";
}

article > header section > a:hover {
  background: none;
}

article > header section > a:hover span {
  border-bottom: 1px solid currentColor;
}

body > nav,
body > main {
  max-width: 32rem;
  margin: 0 auto;
}

body > main {
  margin-top: 2.5rem;
  margin-bottom: calc(1rem + 5vw);
}

body > nav a {
  text-decoration: none;
  color: gray !important;
  line-height: 1;
}

body > nav a:hover {
  background: none;
}

body > nav a:hover span {
  display: inline-block;
  border-bottom: 2px solid currentColor;
}

body > nav a:first-child span {
  color: orangered;
  font-weight: 600;
}

body > nav a + a:before {
  content: "\0020/\0020";
}

body > aside {
  background-color: #f6d9da;
  padding: 1px 0;
  margin: 0 -1rem;
}

body > aside article {
  max-width: 40rem;
  margin: 0 auto;
  margin-top: calc(1rem + 5vw);
  margin-bottom: calc(1rem + 5vw);
  padding: 0 1rem;
}

body > aside article h1 {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.03em;
  -webkit-text-stroke-color: currentColor;
}

body > aside > img:first-child:last-child {
  display: block;
  border: solid darkorange;
  border-width: 4px 0;
}

body > footer {
  margin-top: calc(1rem + 5vw);
}

body > footer img {
  display: block;
  width: calc(5rem + 3vw);
  border-radius: 100vw;
  margin: 0 auto;
  margin-bottom: calc(0.5rem + 0.5vw);
}

body > footer ul {
  margin: 0;
  list-style: none;
  text-align: center;
}

body > footer ul li {
  display: inline-block;
  padding: 0.3em;
}

body > footer ul li a {
  color: currentColor !important;
  text-decoration: none;
}